<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whatsapp Logo Generator</title>

    <!-- Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style>
        .content {
            max-width: 900px;
            margin: auto;
        }
    </style>

</head>

<body class="content">

    <div class="">
        <form class="" action="" method="post" id="mainform">
            <div class="">
                <div class="input-field col s6">
                    <i class="material-icons prefix">title</i>
                    <input id="topname" name="topname" type="text" class="validate">
                    <label for="topname">Top</label>
                </div>

                <div class="input-field col s6">
                    <i class="material-icons prefix">create</i>
                    <input id="middlename" name="middlename" type="text" class="validate">
                    <label for="middlename">Middle</label>
                </div>

                <div class="input-field col s6">
                    <i class="material-icons prefix">access_time</i>
                    <input id="bottomname" name="bottomname" type="text" class="validate">
                    <label for="bottomname">Bottom</label>
                </div>

                <label>Color</label>
                <select class="browser-default" form="mainform" name="imagename">
                    <option value="" disabled selected>
                        Choose a color
                    </option>
                    {% for i in allimages %}
                    <option value="{{ i }}">
                        {{ i }}
                    </option>
                    {% endfor %}
                </select>

                <label>Style</label>
                <select class="browser-default" form="mainform" name="stylename">
                    <option value="" disabled selected>
                        Choose a style
                    </option>
                    <option value="1">Style 1</option>
                    <option value="2">Style 2</option>
                </select>

                <br>

                <button class="btn waves-effect waves-light content" type="submit" value="Create">
                    Create
                    <i class="material-icons right">
                        send
                    </i>
                </button>
            </div>
        </form>

    </div>
</body>

    <!-- 
             ____  _     _                _                           _ _ 
            / __ \| |__ (_)_ __ _   _ ___| |__   __ _        __ _  __| (_)
           / / _` | '_ \| | '__| | | / __| '_ \ / _` |_____ / _` |/ _` | |
          | | (_| | | | | | |  | |_| \__ \ | | | (_| |_____| (_| | (_| | |
           \ \__,_|_| |_|_|_|   \__,_|___/_| |_|\__,_|      \__,_|\__,_|_|
            \____/                                                        
                            Whatsapp Group Logo Creator
                              made for RIS Kurunegala
                         Made by github user @hirusha-adi
                                       v1.0
    
                                    MIT License
    
                Copyright (c) 2022 ZeaCeR#5641 (Hirusha Adikari)
    
    Permission is hereby granted, free of charge, to any person obtaining a copy
    of this software and associated documentation files (the "Software"), to deal
    in the Software without restriction, including without limitation the rights
    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
    copies of the Software, and to permit persons to whom the Software is
    furnished to do so, subject to the following conditions:
    
    The above copyright notice and this permission notice shall be included in all
    copies or substantial portions of the Software.
    
    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
    SOFTWARE.
         -->

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems, options);
    });

    // Or with jQuery

    $(document).ready(function () {
        $('select').formSelect();
    });
</script>

</html>